<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>oAuthFlows</display-name>
  <welcome-file-list>
  
    <welcome-file>index.jsp</welcome-file>
  
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GoogleClient</display-name>
    <servlet-name>GoogleClient</servlet-name>
    <servlet-class>com.okta.oauth.GoogleClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleClient</servlet-name>
    <url-pattern>/GoogleClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleClient2</display-name>
    <servlet-name>GoogleClient2</servlet-name>
    <servlet-class>com.okta.oauth.GoogleClient2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleClient2</servlet-name>
    <url-pattern>/GoogleClient2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleClient3</display-name>
    <servlet-name>GoogleClient3</servlet-name>
    <servlet-class>com.okta.oauth.GoogleClient3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleClient3</servlet-name>
    <url-pattern>/handlerGoogle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesforceClient</display-name>
    <servlet-name>SalesforceClient</servlet-name>
    <servlet-class>com.okta.oauth.SalesforceClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesforceClient</servlet-name>
    <url-pattern>/SalesforceClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OAuth2Client</display-name>
    <servlet-name>OAuth2Client</servlet-name>
    <servlet-class>com.okta.oauth.OAuth2Client</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>OAuth2Callback</display-name>
    <servlet-name>OAuth2Callback</servlet-name>
    <servlet-class>com.okta.oauth.OAuth2Callback</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>OAuth2GetUserInfo</display-name>
    <servlet-name>OAuth2GetUserInfo</servlet-name>
    <servlet-class>com.okta.oauth.OAuth2GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuth2Client</servlet-name>
    <url-pattern>/handler</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>OAuth2Callback</servlet-name>
    <url-pattern>/OAuth2Callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAuth2GetUserInfo</servlet-name>
    <url-pattern>/getUserInfo</url-pattern>
  </servlet-mapping>
</web-app>